
*.dcu
Debug/Win32/CompraVenda.exe
*.~4~
*.~1~
*.~8~
*.~7~
*.~9~
*.~11~
CompraVenda.identcache
__history/uProduto.pas.~10~
__history/uOrdem.pas.~2~
__history/CompraVenda.dpr.~6~
__history/CompraVenda.dpr.~5~
__history/CompraVenda.dpr.~3~
__history/CompraVenda.dpr.~2~
__history/CompraVenda.dpr.~1~
__history/CompraVenda.dpr.~10~
