
*.dcu
Debug/Win32/CompraVenda.exe
*.~6~
__history/uEnums.pas.~5~
__history/uEnums.pas.~1~
*.~2~
*.~3~
*.~4~
*.~1~
*.~9~
*.~8~
*.~7~
*.~5~
*.~10~
*.~3~
*.~1~
*.~11~
*.~1~
*.~2~
*.~3~
*.~1~
*.~2~
*.~3~
